@import "../../../variables";

.fill-in-the-blank {
  &__input {
    display: block;
    margin: 20px 10px;
    font-size: 24px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__hint-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__hint-label {
    cursor: pointer;
    font-style: italic;
  }
  &__hint {
    visibility: hidden;
  }

  &__submit {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    color: white;
    background-color: $blueTertiary;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: none;

    &:hover {
      background-color: $blue;
    }

    &:disabled {
      background-color: rgb(0, 53, 128, 0.5);
      cursor: initial;
    }
  }
}

.fill-in-the-blank__hint-label:hover + .fill-in-the-blank__hint {
  visibility: visible;
}
