$green: rgb(0, 149, 67);
$red: rgb(210, 16, 52);
$blue: rgb(0, 53, 128);
$yellow: rgb(255, 206, 0);

$greenSecondary: rgb(0, 149, 67, 0.9);
$blueSecondary: rgb(0, 53, 128, 0.9);

$blueTertiary: rgb(0, 53, 128, 0.8);
