@import "../../variables";

.kwanyama {
  &__container {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  &__header {
    padding: 0 10px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--left {
      display: flex;
      flex-direction: row;
      justify-content: start;
      text-decoration: none;
    }
    &--right {
      display: flex;
      flex-direction: column;
    }

    &-score {
      text-align: right;
      &-label {
        font-size: 14px;
        vertical-align: middle;
      }
      &-value {
        display: inline-block;
        vertical-align: middle;
        min-width: 2em;
      }
    }

    &-image {
      display: inline-block;
      vertical-align: middle;
      border-radius: 4px;
      height: 30px;
      margin-right: 10px;
      cursor: pointer;
    }

    &-title-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
    &-title {
      vertical-align: middle;
      font-size: 24px;
      line-height: 24px;
      margin-right: 10px;
      cursor: pointer;
      color: black;
    }
    &-sub-title {
      vertical-align: sub;
      font-size: 12px;
      line-height: 12px;
      margin-right: 10px;
      align-self: flex-end;
      cursor: pointer;
      color: black;
    }
  }

  &__page {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1200px;
    width: 100%;
    flex: 1;
  }

  &__footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1200px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: black;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.page {
  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    &-title-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
    &-title {
      vertical-align: middle;
      font-size: 30px;
      line-height: 34px;
      margin-right: 10px;
    }
    &-sub-title {
      vertical-align: sub;
      font-size: 12px;
      line-height: 12px;
      margin-right: 10px;
      align-self: flex-end;
    }
  }
}
